.class1{
    color:green
}
#id1{
    color:red
}
#id2{
    color: aqua;
}
.font{
    @import url(https://fonts.google.com/specimen/Rubik+Burned);
    font-family: "Rubrik Burned", sans-serif;

}
body{
    background-image: url("bild.jpg");
    background-size: 50%;
    background-repeat: repeat;
    
}