.class1{
    color:green
}
#id1{
    color:red
}
#id2{
    color: aqua;
}
.font{
    @import url(https://fonts.google.com/specimen/Rubik+Burned);
    font-family: "Rubrik Burned", sans-serif;

}
#div{
    background-image: url("bild.jpg");
    height: 50vh;
}